@using Microsoft.AspNetCore.Identity
@model IEnumerable<Product>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}



<!-- Full Page Intro -->

<div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="container">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4 white-text text-center text-md-left">

                    <h1 class="display-4 font-weight-bold">Plan your next get away.</h1>

                    <hr class="hr-light">

                    <p>
                        <strong>Find the perfect spot</strong>
                    </p>

                    <p class="mb-4 d-none d-md-block">
                        <strong>
                            Planning your next camp outing is easy. Create favorites, plan routes, and more.
                        </strong>
                    </p>

                    <button class="btn btn-indigo btn-lg">
                        Create an account!
                        <partial name="_LoginPartial" />
                    </button>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body" id="myDiv" style="width:100%;height:400px;">
                            @* <div id="myDiv" class="mapbut" style="width:100%;height:400px;"></div> *@

                            <!-- Map -->
                            <script type="text/javascript">

                                // This example displays a marker at the center of Australia.
                                // When the user clicks the marker, an info window opens.
                                function initMap() {


                                    const map = new google.maps.Map(document.getElementById("myDiv"), {
                                        zoom: 6,
                                        center: { lat: 39.6336111, lng: -82.8747222  }
                                    });

                                    @foreach (var item in Model)
                                    {
                                             <text>
                                        var marker = new google.maps.Marker({
                                        position: { lat: @item.latitude, lng: @item.longitude },

                                            /*trying a different way for postiion*/
                                            //position: new google.maps.LatLng(@item.latitude, @item.longitude),

                                                    map,
                                            title: '@item.facilityName',

                                    });
                                  marker.infowindow = new google.maps.InfoWindow({
                                        content: '@item.facilityName'
                                    });
                                    google.maps.event.addListener(marker, 'click', function () {
                                        this.infowindow.open(map, marker);
                                    });

                                            </text>   }
                                    }
/*----------------------------------------------------------------------------*/
                                //google.maps.event.addListener(marker, 'click', function () {
                                //    // this = marker
                                //    var marker_map = this.getMap();
                                //    this.info.open(marker_map, this);
                                //    // Note: If you call open() without passing a marker, the InfoWindow will use the position specified upon construction through the InfoWindowOptions object literal.
                                //});



                            </script>

                            <!-- Form -->

                        </div>

                    </div>
                    <!--/.Card-->
                    <button onclick="toggle_visibility('list')"> Click here for list view</button>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

</div>


<div class="container-fluid" id="list">
    <div class="container" style="width: 75%">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latidtude</th>
                <th>Type</th>

            </tr>

            @foreach (var product in Model)
            {
                <tr>

                    <td>@product.facilityName </td>
                    <td>@product.longitude</td>
                    <td>@product.latitude</td>
                    <td>@product.contractType</td>
                    <td>
                        <a class="btn btn-outline-success" href=/Product/ViewProduct/@product.facilityID>Learn More</a>
                    </td>



                </tr>

            }
        </table>
    </div>
</div>

