@using Microsoft.AspNetCore.Identity
@model IEnumerable<Product>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

       

<!-- Full Page Intro -->

<div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="container">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4 white-text text-center text-md-left">

                    <h1 class="display-4 font-weight-bold">Plan your next get away.</h1>

                    <hr class="hr-light">

                    <p>
                        <strong>Find the perfect spot</strong>
                    </p>

                    <p class="mb-4 d-none d-md-block">
                        <strong>
                            Planning your next camp outing is easy. Create favorites, plan routes, and more.
                        </strong>
                    </p>

                    <button class="btn btn-indigo btn-lg">
                        Create an account!
                        <partial name="_LoginPartial" />
                    </button>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body" id="myDiv" style="width:100%;height:400px;">
                            @* <div id="myDiv" class="mapbut" style="width:100%;height:400px;"></div> *@

                            <!-- Map -->
                            <script type="text/javascript">

                    //Set the Latitude and Longitude of the Map
                    var myAddress = new google.maps.LatLng(39.6336111, -82.8747222);

                    //Create Options or set different Characteristics of Google Map
                     var mapOptions = {
                        center: myAddress,
                        zoom: 10,
                        minZoom: 0,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                            //Display the Google map in the div control with the defined Options
                            var map = new google.maps.Map(document.getElementById("myDiv"), mapOptions);

                            //Set Marker on the Map
                          @foreach(var item in Model){
                         <text>
                            var marker = new google.maps.Marker({
                              map: map,
                              position: { lat: @item.latitude, lng: @item.longitude },
                              title: '@item.facilityName'
                            });
                        </text>
                    }

                        marker.setMap(map);

                            </script>

                            <!-- Form -->

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

</div>


<div class="container-fluid">
    <div class="container" style="width: 75%">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latidtude</th>
                <th>Type</th>

            </tr>

            @foreach (var product in Model)
            {
                <tr>

                    <td>@product.facilityName </td>
                    <td>@product.longitude</td>
                    <td>@product.latitude</td>
                    <td>@product.contractType</td>
                    <td>
                        <a class="btn btn-outline-success" href=/Product/ViewProduct/@product.facilityID>Learn More</a>
                    </td>



                </tr>

            }
        </table>
    </div>
</div>

