@model Product
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager

<style>
    .product-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>

@{
    ViewData["Title"] = "Campsite Details";
}



<div class="container-fluid">
    <div class="container" style="width:75%">
        <div class="product-container">
            <h3>@Model.facilityName Information</h3>
        </div>

        <table class="table">
            <tr>

                <th>Name</th>
                <td>Type</td>
                <th>id</th>


            </tr>
            <tr>
                <td>@Model.facilityName</td>
                <td>@Model.contractType</td>
                <td>@Model.facilityID</td>


            </tr>

        </table>
        <div class="btn-div">
            @{
                var user = Context.User.Identity.Name;
            }
            @if (user == null)
            {<button class="btn btn-outline-success">Login to add to favorites</button> }
            else
            {
                @using (Html.BeginForm("InsertFavoriteToDatabase", "Product", "Post"))
                {
                    <input type="hidden" asp-for="facilityID" value="@Model.facilityID" />
                    <input type="hidden" asp-for="facilityName" value="@Model.facilityName" />
                    <input type="hidden" asp-for="user" value="@user" />
                    <input type="submit" class="btn btn-outline-success" value="Add to favorites" />
                }
            }




        </div>
    </div>
</div>


